{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [lager, esel, jsone, jsxd,
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {ref, "837cf8b"}}},
        {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {tag, "0.4.1"}}},
        {libsnarl, ".*", {git, "https://github.com/project-fifo/libsnarl.git", {branch, "test"}}},
        {base16, {git,"https://github.com/goj/base16.git", {ref,"1e9dd28bdbcfb8f4aedf82b9900cfb0f094f137d"}}},
        {libsniffle, ".*", {git, "https://github.com/project-fifo/libsniffle.git", {branch, "test"}}},
        {libchunter, ".*", {git, "https://github.com/project-fifo/libchunter.git", {branch, "test"}}},
  eper,
  recon
]}.

{relx, [{release, {'kennel', "0.1.0"},
         ['kennel',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles,
  [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]},
   {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.1"}}}]}]},
   {dev,  [{plugins, [rebar3_auto]}]}
  ]
}.


{elvis,
 [#{dirs => ["apps/*/src"],
    filter => "*.erl",
    rules => [{elvis_style, line_length,
               #{ignore => [],
                 limit => 80,
                 skip_comments => false}},
              {elvis_style, no_tabs},
              {elvis_style, no_trailing_whitespace},
              {elvis_style, macro_names,
               #{ignore => []}},
              %% We disable this since it's used in the consoles a lot
              %% and makes sense there, I think...
              %% {elvis_style, macro_module_names},
              {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                         {right, "++"},
                                                         {left, "++"}]}},
              {elvis_style, nesting_level, #{level => 3}},
              {elvis_style, god_modules,
               #{limit => 25,
                 ignore => []}},
              {elvis_style, no_if_expression},
              {elvis_style, invalid_dynamic_call,
               #{ignore => [kennel_h, kennel_app]}},
              {elvis_style, used_ignored_variable},
              {elvis_style, no_behavior_info},
              {
                elvis_style,
                module_naming_convention,
                #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                  ignore => []}
              },
              {
                elvis_style,
                function_naming_convention,
                #{regex => "^([a-z][a-z0-9]*_?)*$"}
              },
              {elvis_style, state_record_and_type},
              {elvis_style, no_spec_with_records},
              {elvis_style, dont_repeat_yourself, #{min_complexity => 12}},
              {elvis_style, no_debug_call,
               #{ignore => [
                           ]}}
             ]
   },
  #{dirs => ["."],
    filter => "Makefile",
    rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
              {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
   },
  #{dirs => ["."],
    filter => "rebar.config",
    %% on the test branch master deps are OK
    rules => [%{elvis_project, no_deps_master_rebar, #{ignore => []}},
              {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
   },
  #{dirs => ["."],
    filter => "elvis.config",
    rules => [{elvis_project, old_configuration_format}]
   }
 ]
}.
