{erl_opts, [debug_info]}.
{deps, [lager, esel, jsx, jsxd,
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {ref, "27ecd7f"}}},
        {libsnarl, ".*", {git, "https://github.com/project-fifo/libsnarl.git", {branch, "test"}}},
        {libsniffle, ".*", {git, "https://github.com/project-fifo/libsniffle.git", {branch, "test"}}},
  eper,
  recon
]}.

{relx, [{release, {'kennel', "0.1.0"},
         ['kennel',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
