{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps,
 [
  esel, jsone, jsxd,
  %% Fixing a ranch SSL bug
  {ranch,".*",     {git, "https://github.com/project-fifo/ranch.git",       {branch, "1.1.0p"}}},
  {fifo_lager, ".*", {git, "https://github.com/project-fifo/fifo_lager.git", {branch, "master"}}},
  {bugsnag, ".*", {git, "https://github.com/project-fifo/bugsnag-erlang.git", {branch, "master"}}},
  {cuttlefish, ".*", {git, "https://github.com/tsloughter/cuttlefish.git", {branch, "develop"}}},
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {ref, "b7d666c"}}},
  {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {tag, "0.4.1"}}},
  {libsnarl, ".*", {git, "https://github.com/project-fifo/libsnarl.git", {branch, "test"}}},
  {base16, {git,"https://github.com/goj/base16.git", {ref,"1e9dd28bdbcfb8f4aedf82b9900cfb0f094f137d"}}},
  {libsniffle, ".*", {git, "https://github.com/project-fifo/libsniffle.git", {branch, "test"}}},
  {libchunter, ".*", {git, "https://github.com/project-fifo/libchunter.git", {branch, "test"}}},
  {fifo_utils, ".*", {git, "https://github.com/project-fifo/fifo_utils.git", {branch, "master"}}},
  eper,
  recon
 ]}.

{plugins,
 [
  {rebar3_cuttlefish, ".*", {git, "git://github.com/tsloughter/rebar3_cuttlefish.git", {branch, "master"}}}
 ]}.

{profiles,
 [
  {prod, [{relx, [{dev_mode, false},
                  {include_erts, true}]}]},
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.3"}}}]}]},
  {dev,  [{plugins, [rebar3_auto]}]}
 ]
}.

{provider_hooks,
 [{post, [{release, cuttlefish}]}]}.


{elvis,
 [#{dirs => ["apps/*/src"],
    filter => "*.erl",
    rules => [{elvis_style, line_length,
               #{ignore => [],
                 limit => 80,
                 skip_comments => false}},
              {elvis_style, no_tabs},
              {elvis_style, no_trailing_whitespace},
              {elvis_style, macro_names,
               #{ignore => []}},
              %% We disable this since it's used in the consoles a lot
              %% and makes sense there, I think...
              %% {elvis_style, macro_module_names},
              {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                         {right, "++"},
                                                         {left, "++"}]}},
              {elvis_style, nesting_level, #{level => 3}},
              {elvis_style, god_modules,
               #{limit => 25,
                 ignore => []}},
              {elvis_style, no_if_expression},
              {elvis_style, invalid_dynamic_call,
               #{ignore => [kennel_h, kennel_app]}},
              {elvis_style, used_ignored_variable},
              {elvis_style, no_behavior_info},
              {
                elvis_style,
                module_naming_convention,
                #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                  ignore => []}
              },
              {
                elvis_style,
                function_naming_convention,
                #{regex => "^([a-z][a-z0-9]*_?)*$"}
              },
              {elvis_style, state_record_and_type},
              {elvis_style, no_spec_with_records},
              {elvis_style, dont_repeat_yourself, #{min_complexity => 12}},
              {elvis_style, no_debug_call,
               #{ignore => [
                           ]}}
             ]
   },
  #{dirs => ["."],
    filter => "Makefile",
    rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
              {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
   },
  #{dirs => ["."],
    filter => "rebar.config",
    %% on the test branch master deps are OK
    rules => [%{elvis_project, no_deps_master_rebar, #{ignore => []}},
              {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
   },
  #{dirs => ["."],
    filter => "elvis.config",
    rules => [{elvis_project, old_configuration_format}]
   }
 ]
}.

{relx,
 [{release, {"kennel", "0.7.1"},
   [
    sasl,
    kennel,
    {cuttlefish, load},
    %% we do need the followign two because qdate isn't yet including them
    {erlang_localtime, load},
    {erlware_commons, load},
    %% We need that for the logstash backend
    jsx,
    %% Runtime tools
    {recon, load},
    {eper, load}
   ]},

  {dev_mode, true},
  {include_erts, true},
  {generate_start_script, false},
  {overlay_vars, "rel/vars.config"},
  {overlay,
   [{mkdir, "etc"},
    {copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
    {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {template, "rel/files/kennel", "bin/kennel"},
    {copy, "_build/default/bin/cuttlefish", "bin/cuttlefish"},
    {copy, "share", "share"},
    {template, "schema/kennel.schema", "share/schema/00-kennel.schema"},
    {template, "_build/default/lib/bugsnag/priv/bugsnag.schema", "share/schema/01-bugsnag.schema"},
    {template, "_build/default/lib/fifo_utils/priv/erlang_vm.schema", "share/schema/02-vm.schema"},
    {template, "_build/default/lib/fifo_lager/priv/lager.schema", "share/schema/03-lager.schema"},
    {template, "_build/default/lib/libsnarl/priv/libsnarl.schema", "share/schema/04-libsnarl.schema"},
    {template, "_build/default/lib/mdns_client_lib/priv/mdns_client.schema", "share/schema/06-mdns_client.schema"}
   ]}]}.

%% Cuttlefish filename
{cuttlefish_filename, "kennel.conf.example"}.

{dialyzer, [{warnings, [underspecs]}]}.
