%%
%% etc/app.config
%%
{http_ip,               "0.0.0.0"}.
{http_port,             "80"}.
{https_port,            "443"}.
{kennel_ip,             "127.0.0.1"}.
{log_path,              "/var/log/kennel"}.
{db_path,               "/var/db/kennel"}.

{service,               "kennel"}.
{bugsnag_app,           "kennel"}.
{bugsnag_release_state, "test"}.
{bugsnag_app_version,   "0.7.2"}.

%%
%% etc/vm.args
%%
{node,                  "kennel@127.0.0.1"}.
{crash_dump,            "/var/log/kennel"}.
{cookie,                "kennel"}.
{run_user,              "kennel"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "kennel.conf"}.
