%%
%% etc/app.config
%%
{http_ip,               "0.0.0.0"}.
{http_port,             "80"}.
{https_port,            "443"}.
{kennel_ip,             "127.0.0.1"}.
{log_path,              "/data/kennel/log"}.
{db_path,               "/data/kennel/db"}.

{service,               "kennel"}.
{bugsnag_app,           "kennel"}.
{bugsnag_release_state, "release"}.
{bugsnag_app_version,   "0.9.0"}.

%%
%% etc/vm.args
%%
{node,                  "kennel@127.0.0.1"}.
{crash_dump,            "/data/kennel/log"}.
{cookie,                "kennel"}.
{run_user,              "kennel"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "kennel.conf"}.
{platform_etc_dir,      "/data/kennel/etc"}.
